*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
html,body{
    overflow-x: hidden;
    height: 100%;
    position: relative;
}


#nevbar{
    width: 100%;
    height: 80px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    position:fixed;
    z-index: 10;
    background-color: #0087A8;
}

#nevbar>a:nth-child(2){
    margin-left: 50px;
}

 
#nevbar p{
    color:white;
    font-weight: bold;
    font-size: 12px;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 5px;
}
#nevbar a{
    text-decoration: none;
    color: white;
}
#nevbar img{
    width: 170px;
    margin-left: -70px;
    margin-right: 40px;
    cursor: pointer;
}
#nevbar p:hover{
    border: 1px solid white;
    transition: 0.7s;
}



#sidebarmenu a{
    text-decoration: none;
}
#sidebarmenu{
    height: 100%;
    position:fixed;
    z-index:20;
    left: 0;
    top: 0;
    width: 250px;
    margin-top: 0px; 
    padding: 60px;
    /* padding-top: 20px; */
    background: #0087A8;
    transform:translateX(-250px);
    transition:transform 250ms ease-in-out ;
}



#opensidebarmenu:checked ~#sidebarmenu{
    transform:translateX(0px)
}

.menu{
    list-style: none;
    padding: 0;
    margin: -30px;
   

}
.menu li{
    color: white;
    font-weight: bold;
    border-bottom: 1px solid rgba(255,255,255,0.10);
}
.menu a{
    display:block;
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px;
    margin-top: 5px;
}

#opensidebarmenu{
    display: none;
}

.sidebartogalIcon{
    width: 22px;
    height: 20px;
    position: fixed;
    z-index: 20;
    top: 35px;
    left: 270px;
    cursor: pointer;
} 

 .spiner{
    height: 3px;
    background-color: white;
    transition: all 0.3s;
} 
 
 .spiner.middle,.spiner.bottom{
    margin-top: 3px;
} 



#opensidebarmenu:checked ~.sidebartogalIcon>.spiner.middle{
     left: 410px;
     opacity: 0;
} 

#opensidebarmenu:checked ~.sidebartogalIcon>.spiner.top{
    transform:rotate(130deg);
    margin-top: 8px;
    
}
#opensidebarmenu:checked ~.sidebartogalIcon>.spiner.bottom{
    transform:rotate(-130deg);
    margin-top: -9px;
} 


@media all and (max-width:1212px){
  
    .sidebartogalIcon{
        margin-left: -50px;
    }
}
@media all and (max-width:768px){
    #nevbar p{
        display: none;
    }
    .sidebartogalIcon{
        margin-left: 200px;
    }
}
@media all and (max-width:540px){
    #nevbar p{
        display: none;
    }
    .sidebartogalIcon{
        margin-left: -10px;
    }

    #nevbar img{
        width: 170px;
        margin-left: -20px;
        cursor: pointer;
    }
}